.main-header {
    padding-inline-start: 5rem;
    margin-block: 1rem 2rem;
}

.main-container {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-inline: 1rem;
}

.cart {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px #33333369;
    border-radius: 1rem;
    width: 55rem;
    padding: 1rem;
}

.table-content {
    height: 23rem;
    overflow-y: auto;
    padding-bottom: 1rem;
    scrollbar-width: none;
}

.summery-content {
    background-color: white;
    box-shadow: 0 0 5px 1px #33333369;
    box-sizing: border-box;
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
}

.code-box {
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.code-box label {
    font-size: 1em;
}

.code-box input {
    outline: none;
    width: 100%;
    margin-top: .5rem;
    padding: .2rem 3.5rem .2rem .5rem;
    border-radius: .5rem;
    border: 2px solid #3333333e;
    font-size: 1.1em;
}

.code-box input::placeholder {
    font-size: .8em;
}

.checkBTn {
    position: absolute;
    right: 0rem;
    bottom: -0.05rem;
    background-color: #2d47dc;
    color: white;
    padding: .35rem 1rem;
    border-radius: .5rem;
}

.checkBTn:hover {
    transition: .3s;
    cursor: pointer;
    background-color: #4460ff;
}

.line {
    width: 90%;
    border-color: #a90808;
    margin: auto;
}

.d-f {
    display: flex;
    justify-content: space-between;
    padding-inline-end: 1rem;
    padding-block: .5rem;
}

.d-f span:nth-child(1) {
    font-size: 1.3rem;
}

.total-price {
    font-weight: bolder;
}

.buttons-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-1,
.button-2 {
    text-align: center; 
    display: block;
    padding-block: .4rem;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
}

.button-1 {
    background-color: #2d47dc;
    color: whitesmoke;
    box-shadow: -1px 3px 2px 1px #0e2293;
}

.button-1:hover {
    box-shadow: 0 0 0 0 #0e2293;
    transform: translateY(2px);
}

.button-2 {
    font-size: .9em;
    background-color: #ffffff;
    border: 2px solid #9ca5d4;
}

.button-2:hover {
    transition: .3s;
    background-color: #f4f4f4;
    border-color: #0930f18e;
}

.button-2 i {
    margin-inline-end: .5rem;
}



@media screen and (max-width: 1385px) {}


@media screen and (max-width: 1280px) {}


@media screen and (max-width: 1024px) {
    .main-container {
        flex-direction: column;
        gap: .85rem;
    }

    .cart {
        width: auto;
    }

    .summery-content {
        width: auto;
        display: grid;
        grid-template-columns: 1.25fr 2fr;
        gap: 1rem;
    }
    .buttons-box{
        grid-column: span 2 / span 2;
        flex-direction: row-reverse;
    }
    .button-1,.button-2{
        width: 100%;
    }
    .line {
        display: none;
    }
    .code-box{
        padding-inline-end: .5rem;
        border-right: 2px solid rgb(233, 156, 156);
    }
    
    .checkBTn {
        bottom: 2.3rem;
        right: 0.55rem;
      }
}


@media screen and (max-width: 768px) {}


@media screen and (max-width: 640px) {
    .summery-content {    
        display: block;
        padding-inline: 2rem;
    }
    .line{
        display: block;
    }
    .code-box{
        border: 0;
        font-size: 1rem;
    }
    .checkBTn {
        right: 0rem;
        bottom: -0.05rem;
    }

    .d-f span:nth-child(1) {
        font-size: 1rem;
    }

    .buttons-box{
        grid-column: span 2 / span 2;
        flex-direction: column;
    }
}